@font-face {
    font-family: 'chalk';
    src: url('./chalk.otf') format('woff2'),
      url('./chalk.otf') format('woff');
    font-weight: 600;
    font-style: normal;
  }

body{
    margin:0px;
    background-image:url('/coffeebeans.jpeg');
    background-size:cover;
    background-repeat:repeat;
    
}

#home{
    color:purple;
    font-size:20px;
}

nav{
    display:flex;
    align-items:flex-end;
    justify-content:center;
    margin-top:2px;
    gap:15px;
    width:100%;
    height:80px;

}
#header{
    margin-top:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    height:auto;
    width:100%;
    margin-bottom:0px;
    background-color:rgb(85, 92, 63);
    font-family:'chalk';
    font-size:36px;
    text-decoration: underline;
}
.nav-button{
    background-color:rgb(85, 92, 63);
    font-weight:800;
    height:40px;
    width:100px;
    border-radius:10px 10px 0px 0px;
    font-size:20px;
    box-shadow:2px -2px 0px 0px;
}

#content{
    display:flex;
    flex-direction:column;
    margin-top:0px;
    height:500px;
    width:99%;
    margin:auto;
    margin-bottom:0px;
    background-color:gray;
    
}

#homecontent{
    margin-top:0px;
    background-image:url('/coffe\ cup.jpeg');
    background-size:cover;
    background-repeat:no-repeat;
    height:500px;
    width:99%;
    margin:auto;
    margin-bottom:0px;
    border:8px groove gray;
}

#thing{
    background-color:gray;
}

#greeting{
    width:auto;
    position:absolute;
    top:40%;
    left:45%;
    font-weight:800;
    display:flex;
    font-family:'chalk';
    font-size:60px;
    color:black;
    justify-content:center;
    text-decoration:underline;
    align-items:center;
}

#menumain{
    margin-top:0px;
    height:500px;
    width:99%;
    margin:auto;
    margin-bottom:0px;
    background-color:beige;
    border:8px groove gray;
}


#menuarea{
    display:grid;
    grid-template-rows: .25fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    margin-top:0px;
    height:500px;
    width:99%;
    margin:auto;
    margin-bottom:0px;
    border:8px groove gray;
    background-image:none;
    background-color:rgb(142, 151, 128);

}


#about{
    font-weight:700;
    display:flex;
    justify-content:center;
    font-family:'chalk';

    align-items:center;
    font-size:16px;
    text-align:center;
    margin-top:0px; 
    background-color:rgb(142, 151, 128);
    height:500px;
    width:99%;
    margin:auto;
    margin-bottom:0px;
    border:8px groove gray;
    background-image:none;

}

#heading{
    grid-area:1/1/1/2;
    display:flex;
    align-items:flex-start;
    justify-content:flex-start;
    font-size:48px;
    text-decoration: underline;
    border:2px solid underline;
    font-family:'chalk';

}


 
#description{
    grid-area:1/2/2/3;
    display:flex;
    align-items:flex-start;
    justify-content:center;
    font-size:48px;
    text-decoration: underline;
    border:2px solid underline;
    font-family:'chalk';
  
}

#desc1{
    grid-area:2/2/3/3;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:13px;
    text-decoration: underline;
    border:2px solid underline;
    font-family:'chalk';
}

#desc2{
    grid-area:3/2/4/3;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:13px;
    text-decoration: underline;
    border:2px solid underline;
    font-family:'chalk';
}

#desc3{
    grid-area:4/2/5/3;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:13px;
    text-decoration: underline;
    border:2px solid underline;
    font-family:'chalk';
}

#price{
    grid-area:1/3/2/4;
    padding-right:10px;
    display:flex;
    align-items:flex-start;
    justify-content:flex-end;
    font-size:48px;
    text-decoration: underline;
    border:2px solid underline;
    font-family:'chalk';
}


#style1{
    grid-area:2/1/3/2;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    font-size:20px;
    font-weight:600;
    text-decoration: underline;
    font-family:'chalk';
}

#style2{
    grid-area:3/1/4/2;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    font-size:20px;
    font-weight:600;
    text-decoration: underline;
    font-family:'chalk';
}

#cold{
    grid-area:4/1/5/2;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    font-size:20px;
    font-weight:600;
    text-decoration: underline;
    font-family:'chalk';

}

#price1{
    grid-area:2/3/3/4;
    padding-right:10px;
    display:flex;
    align-items:center;
    justify-content:flex-end;
    font-size:20px;
    font-weight:800;
    text-decoration: underline;
    font-family:'chalk';
}
#price2{
    padding-right:10px;
    grid-area:3/3/4/4;
    display:flex;
    align-items:center;
    justify-content:flex-end;
    font-size:20px;
    font-weight:800;
    text-decoration: underline;
    font-family:'chalk';
}
#price3{
    padding-right:10px;
    grid-area:4/3/5/4;
    display:flex;
    align-items:center;
    justify-content:flex-end;
    font-size:20px;
    font-weight:800;
    text-decoration: underline;
    font-family:'chalk';
}

#tag{

    font-size:36px;
    display:flex;
    height:350px;
    color:white;
    width:350px;
    background-color:black;
    justify-content:center;
    align-items:center;
    text-align:center;
    font-family:'chalk';
    position:absolute;
    left:10%;
    top:20%;
    border: white 4px groove;
    
}

#logo{
    font-size:36px;
    display:flex;
    height:350px;
    background-image: url('/logo.webp');
    background-size:cover;
    width:350px;
    background-color:black;
    justify-content:center;
    align-items:center;
    text-align:center;
    font-family:'chalk';
    position:absolute;
    right:10%;
    top:20%;
    border: white 4px groove;}